# Python / Byte-compiled
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
venv/
env/
.venv/
ENV/
.env

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# IDE / OS specific files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*~
